*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image:url("https://cdn.stocksnap.io/img-thumbs/960w/9EFACE8DD3.jpg"), radial-gradient(circle,#804e0f,#3b003b);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0, 0 10px, 0 0;
  background-blend-mode: screen;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100%;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  margin: 0;
  padding: 0;
}

.beer-container {
  height: 500px;
  width: 83%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.beer {
  height: 210px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  border-radius: 3px;
  padding: 10px;
}

.beer-light {
  background-image: url("/resources/img/beer-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  background-position: center;
  height: 70px;
  width: 70px;
  padding: 10px;
  background-color: white;
  border-radius: 100%;
}
.beer-dark {
  background-image: url("/resources/img/beer-dark.png");
  @extend .beer-light;
}

.info {
  width: 50%;
}

.form {

}


.buttons {
  width: 50%;
}

.add-edit-container {
  width: 70%;
  background-color: blue;
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center; 
  .edit-keg {
    width: 45%;
  }
  .new-keg {
    width: 45%;
    padding: 20px;
  }
}
