@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:500');


$main-color: #C1AF9F;
$secondary-color: #B29173;
$accent-color: #552300;
$accent-color-2: #36302D;

$font-family-display: 'Abril Fatface', cursive;
$font-family-body: 'Oswald', sans-serif;
